@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
/* font-family: 'Rubik Iso', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
/* font-family: 'Chakra Petch', sans-serif; */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    /*background-color: #1e1e1e;*/
    background-color: black;
    /*border-right: 1px solid #444444;*/
    height: 100%;
    width: 29%;

}

.fa-solid{
    font-size: 20px;
    margin-right: 15px;
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 60px;
}

.brand-text{
    text-transform: uppercase;
    font-size: 30px;
    color: #A1CEEB;
    font-family: 'Rubik Iso', cursive;
}

.nav-menu{
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
}

.nav-item a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: lighter;
}

#notification-menu{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    /* right: 204px; */
    max-width: 300px;
    min-width: 300px;
    background-color: #1e1e1e;
    padding: 60px;
    border: 1px solid rgba(164, 179, 190, 0.2);
    color: white;
}

#search-bar{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    /* right: 204px; */
    max-width: 300px;
    background-color: #1e1e1e;
    padding: 60px;
    border: 1px solid rgba(164, 179, 190, 0.2);
}

.searchCloseBtn .fa-xmark{
    position: absolute;
    top: 20px;
    right: 10px;
    color: whitesmoke;
}

#searchbar{
    border-radius: 3px;
    width: 300px;
    height: 40px;
    background-color: #444444;
    border: 0;
    color: whitesmoke;
    padding: 15px;
}

#searchbar:focus{
    outline: 0;
}

input[type="search"]::-webkit-search-cancel-button {
    filter: invert(100%);
}


.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-image{
    width: 20px;
    height: 20px;
}

.username{
    font-family: 'Chakra Petch', sans-serif;
    color: black;
    font-weight: bolder;
}

.fa-solid{
    cursor: pointer;
    color: #DBE9F3;
}

.active{
    display: flex;
}

.login-link{
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.login-link:hover{
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 128, 0, 0.2);
}

.logout-link{
    border: 1px solid darkred;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.logout-link:hover{
    transition: 0.3s ease-in-out;
    background-color: rgba(255, 79, 79, 0.2);
}




@keyframes background {
    0%{transition:1s ease-in-out; background-color: rgba(255, 165, 0, 0.2)
    }
    50%{transition:1s ease-in-out; background-color: rgba(255, 165, 0, 0.2); box-shadow: 5px 0 20px rgba(255, 165, 0, 0.5)
    }
    100%{transition:1s ease-in-out; background-color: rgba(255, 165, 0, 0.2); box-shadow: 10px 0 30px rgba(255, 165, 0, 0.5)
    }
}

@media screen and (max-width: 1100px){
    .long-brand{display: none;}
    .short-brand{display: block!important;}
    .nav-text{display: none;}
    .log-state{display: none}
    .fa-solid{margin-right: 0;}
    #search-bar{right: 102px;}
}

@media screen and (max-width: 400px){
    nav{
        height: 10px;
        top: 92%;
        left: 0;
        right: 0;
        flex-direction: row;
    }

    .container-column{
        flex-direction: row;
    }

    .nav-menu{
        flex-direction: row;
        gap: 50px;
    }

    .brand{
        display: none;
    }

    #hamburger{
        display: none;
    }
}

/* notifications */

#checkbox {
    /* Hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px;
    height: 10px;
    border: 0.5px solid #999;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  /* Style the custom checkbox when checked */
  #checkbox:checked::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #c08a26; /* Set the desired color */
    border-radius: 2px;
    margin: 1px;
  }

.accept_button{
    background-color: rgb(46, 139, 231);
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ignore_button{
    background-color: rgb(231, 46, 46);
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.noti-user{
    font-size: 48px;
}

.re_follow_button{
    background-color: rgb(214, 214, 214);
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}