body{
    font-family: 'Chakra Petch', sans-serif;
    color: #B1B1B1;
}

p{
    font-size: 17px;
}

pre{
    font-size: 17px;
}

#posts{
    gap: 5px;
    padding: 5px;
}

.post_image{
    width: 100%;
    cursor: pointer;
}




/* if user not authenticated */
.fa-lock{
    font-size: 100px;
}

.lock{
    padding: 75px;
    width: 100%;
}




@media screen and (max-width: 1200px){
    .row{
        flex-direction: column;
        gap: 20px;
    }

    .col-fit-content{
        width: 80%;
    }

    .col-md-7{
        width: 80%;
        margin: 0!important;
    }
}

@media screen and (max-width: 1100px){
    .col-fit-content{
        width: 90%;
    }

    .col-md-7{
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .col-fit-content{
        width: 85%;
    }

    .col-md-7{
        width: 85%;
    }

}

@media screen and (max-width: 600px){
    .col-fit-content{
        width: 80%;
    }

    .col-md-7{
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .col-fit-content{
        width: 75%;
    }

    .col-md-7{
        width: 75%;
    }
}


@media screen and (max-width: 400px) {
    .col-fit-content{
        width: 100%;
    }

    .col-md-7{
        width: 100%;
    }
}