{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href={% static 'mainapp/css/post-detail.css' %}>
    <link rel="stylesheet" href={% static 'mainapp/css/home.css' %}>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- post -->
        <div class="post">
            <!-- user photo and username -->
            <div class="post-header">
                <div class="row gap-1 m-412 align-items-center">
                    {% if post_owner.profile_photo %}
                        <a href="{% url 'profile' user_id=post.owner.id %}">
                            <img class="user_photo"  src="{{ post_owner.profile_photo.url }}" alt="" >
                        </a>
                    {% endif %}
                    <a href="{% url 'profile' user_id=post.owner.id %}" class="post_owner">
                        <p  style="color:white;">{{ post.owner }}</p>
                    </a>
                </div>
            </div>
            <!-- post content (image or text) -->
            <div class="post-body mb-3">
                <!-- post image -->
                {% if post.post_media %}
                    <img src="{{ post.post_media.url }}" style="width: 100%;" alt="post_image">
                {% endif %}
                <!-- post action section ( like-comment-share) -->
                <div class="post-action">
                    <div class="row align-items-center m-412 gap-1">
                        <!-- like button -->
                        <div class="like" id="like">
                            <!-- like click event -->
                            <div hx-get="{% url 'mainapp:like_control' post_id=post.id user_id=user.id %}"
                                 hx-trigger="load"
                                 hx-target="#likeIcon-{{ post.id }}"
                                 hx-swap="innerHTML">
                            </div>

                            {% comment %} <!-- like control -->
                            <div hx-get="{% url 'mainapp:like_control' post_id=post.id user_id=user.id %}"
                                 hx-trigger="load"
                                 hx-target="#likeIcon-{{ post.id }}"
                                 hx-swap="innerHTML">
                            </div> {% endcomment %}

                            <!-- when user click like button -> like function will be work -->
                            <a hx-get="{% url 'mainapp:like' post.id %}"
                               hx-trigger="click"
                               hx-target="#like_count-{{ post.id }}"
                               id="like">
    {#                             <i class="fa-regular fa-heart action-icon" id="likeIcon-{{ post.id }}"></i>#}
                                <div id="likeIcon-{{ post.id }}"></div>
                            </a>
                        </div>
                        <!-- comment button -->
                        <div class="comment">
                            <a href="{% url 'mainapp:post_detail' post.id %}">
                                <i class="fa-regular fa-comment action-icon"></i>
                            </a>
                        </div>
                        <!-- share button -->
                        <div class="share">
                            <i class="fa-solid fa-reply action-icon"></i>
                        </div>
                    </div>
                </div>

                <!-- post like count -->
                <div class="like-count m-812">
                    <p style="color: white"> <span id="like_count-{{ post.id }}">{{ post.like_owner.count }}</span> likes</p>
                </div>

                <!-- post text -->
                <p class="text m-812" style="color:white;">
                    <a href="" class="username_link " style="color: white;">{{ post.owner }}</a>
                    {{ post.post_text }}
                </p>

                <!-- comment count -->
                <div class="comment-count m-812">
                    <p>{{ comments_count }} comments...</p>
                </div>
            </div>
        </div>


        <!-- comments -->
        {% include 'mainapp/partials/_post-comments.html' %}

        <!-- create new comment -->
        {% if user.is_authenticated %}
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row m-812">
                        <img class="user_photo" src="{{ post_owner.profile_photo.url }}" alt="" style="margin-right: 20px">
                        {{ form.as_p }}
                    </div>
                    <div class="row f-right me-1 mb-5">
                        <button type="submit" class="commentBtn" >Yorum Yap</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script async src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script  src={% static 'mainapp/js/post-detail.js' %}></script>
{% endblock %}