<div class="container" style='padding:30px;'>
    <div class="card bc-orange d-flex fd-column" id='userlist'>
        {% for following in followings %}
            <div class="user-row d-flex align-items-center ">
                <!-- user photo -->
                {% if user_data.profile_photo %}
                    <img src="{{ following.profile_photo }}" alt="" class="ms-1">
                {% else %}
                    <i class="fa-solid fa-circle-user profile-photo ms-1"></i>
                {% endif %}

                <!-- username -->
                <div class="user-info d-flex fd-column">
                    <h2 class="nickname">{{ following.username }}</h2>
                    <p class="user_fullname">{{ following.first_name }} {{ following.last_name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="deleteBtn" onclick="this.parentElement.parentElement.style.display='none';document.getElementById('userlist').innerHTML =' '; ">
        <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
    </div>
</div>