{% load static %}

<!-- background image -->
<div class="background-photo">
    {% if profile_data.background_photo %}
        <img class="background-photo" src="{{ profile_data.background_photo.url }}" alt="">
    {% else %}
        <div style="max-height: 208px;height: 208px;width: 100%;border-bottom: 1px solid grey;"></div>
    {% endif %}

    <!-- profile photo -->
    <div class="card-header content-center" id='photo-card'>
        {% if profile_data.profile_photo %}
            <img class="user-photo" src="{{profile_data.profile_photo.url }}" alt="">
        {% else %}
            <i class="fa-solid fa-circle-user user-icon"></i>
        {% endif %}
    </div>
</div>



<!-- user action / follower / following / post -->
<div class="card-body" style='position: relative;'>
    <p class="mt-5 content-center user-name">{{ user_data.username }}</p>
    <div class="acc-table">
        <ul class="acc-list d-flex gap-3 content-center">
            <li class="d-flex fd-column gap-1" >
                Post
                <a >
                {{ post_count }}
                </a>
            </li>
            <!-- if user does not follow user dont show follower and following details popup -->
            <li class="d-flex fd-column gap-1" 
                {% if is_follower or user_data.username == user.username%}
                    hx-get={% url 'get-follower' username=user_data.id %}
                    hx-target='#popUp'
                    hx-trigger='click'
                    onclick="document.getElementById('popUp').style.display = 'block'"
                    style='cursor:pointer;'>
                {% else %}
                    style='cursor:default'>
                {% endif %}
                    Follower
                <a >{{ follower_count }}</a>
            </li>
            <li class="d-flex fd-column gap-1"
                {% if is_follower or user_data.username == user.username%}
                    hx-get={% url 'get-following' username=user_data.id %}
                    hx-target='#popUp'
                    hx-trigger='click' 
                    onclick="document.getElementById('popUp').style.display = 'block'"
                    style='cursor:pointer;'>
                {% else %}
                    style='cursor:default'>
                {% endif %}
                Following
                <a >{{ following_count }}</a>
            </li>
        </ul>
    </div>

    <!-- follower and message buttons -->
    <div class="action d-flex gap-1 content-center">
        {% if user.is_authenticated %}
            {% if user_data.username != user.username %}
                {% if is_follower %}
                    <a class="unfollow" href={% url 'mainapp:unfollow' current_user_id=request.user.id target_user_id=user_data.id %}>Takipten Çık</a>
                {% else %}
                <!-- if user profile not locked, don't show follow notification -->
                    <a class="follow" 
                       {% if profile_data.is_lock %}
                            hx-get={% url 'mainapp:follow' current_user_id=request.user.id target_user_id=user_data.id %}
                            hx-target='#notification'
                            hx-trigger='click'
                            onclick="document.getElementById('notification').style.display='flex'"
                        {% else %}
                            href={% url 'mainapp:follow' current_user_id=request.user.id target_user_id=user_data.id %}
                        {% endif %}
                    >Takip Et</a>
                {% endif %}

                <a class="message" href="{% url 'mainapp:message' sender=current_user.id reciever=profile_data.id %}">Mesaj Gönder</a>

            {% else %}
                <a hx-get="{% url 'mainapp:edit_profile' user_id=user.id %}" 
                   hx-trigger='click'
                   hx-target='#editPopUp'
                   class='edit-profile'
                   onclick="document.getElementById('editPopUp').style.display='block'">
                   Profili Düzenle
                </a>
            {% endif %}
        {% else %}
            <a class="follow" href={% url 'account_login' %}>Takip Et</a>
        {% endif %}



    </div>

    <!-- user description -->
    <div class="user-info mt-1">
        <ul class="user-list d-flex fd-column ">
            {% if user_data.first_name and user_data.last_name %}
                <li class="user-item" style="font-weight: bolder">{{ user_data.first_name }} {{ user_data.last_name }}</li>
            {% endif %}
            {% if user_data.university %}
                <li class="user-item">{{ user_data.university }}</li>
            {% endif %}
            {% if user_data.department %}
                <li class="user-item">{{ user_data.department }}</li>
            {% endif %}
            {% if user_data.city %}
                <li class="user-item">{{ user_data.city }}</li>
            {% endif %}
        </ul>
    </div>

    <div id="popUp">
        <!-- popUp will shown here -->
    </div> 
    
    <div id='editPopUp'>
        <!-- edit profile pop up will be here -->
    </div>

    <div id="notification">
        <!-- follow notification will be here -->
    </div>
</div>