
        {% if comments_data %}
            {% for comment in comments_data %}
                    <div class="row align-items-center " style="border-bottom: 1px solid grey">
                        {% if comment.1.profile_photo %}
                            <a href="{% url 'profile' user_id=comment.0.owner.id%}">
                                <img  class="user_photo m-412" src="{{ comment.1.profile_photo.url }}" alt="">
                            </a> 
                        {% else %}
                            <i class="fa-solid fa-circle-user noti-user"></i>
                        {% endif %}
                        <div class="d-flex fd-column">
                            <p class="username" style="color: white;margin-bottom: 10px">
                                <a href="{% url 'profile' user_id=comment.0.owner.id%}"
                                   style='text-decoration:none;color:rgb(185, 185, 185);'
                                >{{ comment.0.owner.username }}</a>
                            </p>
                            <p class="user-comment" style="color: white;margin-top: 0">{{ comment.0.comment_text }}</p>
                        </div>
                        {% comment %} <div class="commentLike w-100 m-812">
                            <!-- like button -->
                            <div hx-get="{% url 'mainapp:comment_like_control' comment.id %}"
                                 hx-target="#likeIcon-{{ comment.id }}"
                                 hx-trigger="load"
                                 hx-swap="innerHTML">
                            </div>
                            <a hx-get="{% url 'mainapp:comment_like' comment.id %}"
                               hx-target="#likeIcon-{{ comment.id }}"
                               hx-swap="innerHTML"
                               hx-trigger="click"
                               id="likeIcon-{{ comment.id }}">
                                <!-- like button will be here -->
                            </a>
                        </div> {% endcomment %}
                    </div>
            {% endfor %}
        {% endif %}