body{
    font-family: 'Chakra Petch', sans-serif;
}


.card{
    border: 1px solid dimgrey;
    border-radius: 5px;
    padding: 30px;
}



.post-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    color: #3CBAF5;
    text-decoration: none;
}

.post-text{
    font-size: 15px;
    color: #B1B1B1;
}

.post-time{
    font-size: 12px;
    color: #838383;
}

.fa-user{
    font-size: 12px;
    color: rgba(177, 177, 177, 0.7);
    margin: 0 5px;
}

.post-owner{
    margin: 3px 0;
    color: rgba(177, 177, 177, 0.7);
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.user_photo {
    width: 100%;
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
}

